<link rel="stylesheet" type="text/css" href="~/css/custom.css">

<h1>Add Events! Wooo Exciting</h1>

<form method="post">
    <label for="name">Edit Event</label>
    <input name="name" type="text" />
    <label for="description">Edit Description</label>
    <input name="description" type="text" />
    <input type="submit" value="Edit Event" />
</form>
